# Route @grammarly and @superhuman packages to Artifactory
@grammarly:registry=https://artifactory.grammarly.io/artifactory/api/npm/common-npm/
@superhuman:registry=https://artifactory.grammarly.io/artifactory/api/npm/common-npm/
registry=https://registry.npmjs.org/