---
# Use Kubernetes GitLab runners by default
default:
  tags:
    - k8s

variables:
  PROJECT_PIPELINE_NAME: 'DEFAULT PIPELINE NAME'
  BASE_VERSION: '0.1.0'
  ARTIFACTORY_MAIN_URL: https://artifactory.grammarly.io/artifactory
  ARTIFACTORY_NPM_URL: $ARTIFACTORY_MAIN_URL/api/npm
  KUBERNETES_CPU_REQUEST: 4
  KUBERNETES_CPU_LIMIT: 4
  KUBERNETES_MEMORY_REQUEST: 4Gi
  KUBERNETES_MEMORY_LIMIT: 4Gi


# https://docs.gitlab.com/ee/ci/yaml/workflow.html#switch-between-branch-pipelines-and-merge-request-pipelines
workflow:
  name: '$PROJECT_PIPELINE_NAME'
  rules:
    # Merge Request pipeline
    - if: $CI_PIPELINE_SOURCE == "merge_request_event"
      variables:
        VERSION: $BASE_VERSION.$CI_COMMIT_REF_NAME
        PROJECT_PIPELINE_NAME: 'MR pipeline: $CI_COMMIT_TITLE'
    # Avoid pipeline duplication for commits into the branch with open MR
    - if: $CI_COMMIT_BRANCH && $CI_OPEN_MERGE_REQUESTS
      when: never
    # Feature branch pipeline
    - if: $CI_COMMIT_BRANCH && $CI_COMMIT_BRANCH != $CI_DEFAULT_BRANCH
      variables:
        VERSION: $BASE_VERSION.$CI_COMMIT_REF_NAME
        PROJECT_PIPELINE_NAME: 'Branch pipeline: $CI_COMMIT_TITLE'
    # Default branch pipeline
    - if: $CI_COMMIT_BRANCH && $CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH
      variables:
        VERSION: $BASE_VERSION.$CI_PIPELINE_IID
        PROJECT_PIPELINE_NAME: 'Main pipeline: $CI_COMMIT_TITLE'


stages:
  # Predefined stages have been generated by baseline template for compatibility with Gitlab templates
  - build
  - deploy


include: .gitlab-ci/*.yml


