{
  "name": "{{PROJECT_NAME}}",
  "description": "{{PROJECT_DESCRIPTION}}",
  "deployments": ["gitlab-pages"],
  "created": "{{CREATED_DATE}}",
  "template": {
    "name": "static-website",
    "description": "Simple HTML/CSS/JavaScript website deployed on GitLab Pages",
    "version": "1.0.0"
  }
}